body {
    background-color: #f2e3c6;
    font-family: Arial;
    text-align: center;
}

h1 {
    color: #5a3b2e;
}

.login-box, .item {
    background: white;
    border: 3px solid #5a3b2e;
    border-radius: 15px;
    padding: 20px;
    margin: 20px auto;
    width: 250px;
}

.catalogue {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

button {
    background-color: #d4a857;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
}

button:hover {
    background-color: #b88b3e;
}

.logo {
    width: 150px;
}